<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
    <h1>We will be right back!</h1>
    <p>Site is currently running a maintenance clean.</p>
</body>
</html>